/* This is for first for assignments */
/* Any Element With Class Title */
.title {
  color: yellow;
}

/* Any Element With Id nav */
#nav {
  color: greenyellow;
}

/* Any div */
div {
  color: blue;
}

/* Any h2 */
h2 {
  color: brown;
}
