:root {
  --black--: #323234;
  --yellow--: #FEA604;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 700px;
  width: 900px;
  margin: 10px auto;
}

.grid-parent {
  background-color: #eee;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  padding: 10px;
  position: relative;
}

.row {
  background-color: var(--black--, #323234);
}

.row-1 {
  grid-area: 1 / 1 / 1 / span 4;
}

.row-2 {
  grid-area: 1 / 1 / span 7 / 1;
}

.row-3 {
  grid-area: 4 / 1 / 4 / span 4;
}

.row-4 {
  grid-area: 7 / 1 / 7 / span 4;
}

.row-5 {
  grid-area: 1 / 6 / span 7 / 6;
}

.row-6 {
  grid-area: 7 / 6 / 7 / span 4;
}

.grid-parent::before {
  content: "";
  width: calc((100% - 20px) / 9 - 38px);
  height: calc((100% - 20px) / 7 - 38px);
  background-color: var(--yellow--, #FEA604);
  position: absolute;
  top: 10px;
  left: calc(((100% - 20px) / 9) * 3 + 10px);
  border: 19px solid var(--black--, #323234);
  animation-name: move-e;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

.grid-parent::after {
  content: "";
  width: calc((100% - 20px) / 9 - 38px);
  height: calc((100% - 20px) / 7 - 38px);
  background-color: var(--yellow--, #FEA604);
  position: absolute;
  top: calc(((100% - 20px) / 7) * 6 + 10px);
  left: calc(((100% - 20px) / 9) * 8 + 10px);
  border: 19px solid var(--black--, #323234);
  animation-name: move-l;
  animation-duration: 4s;
  animation-delay: 11s;
  animation-timing-function: linear;
  opacity: 0;
}

@keyframes move-e {
    0%{
      left: calc(((100% - 20px) / 9) * 3 + 10px);
      top: 10px;
      
  }
  10%{
      left: 10px;
      top: 10px;
      
  }
  20%{
      left: 10px;
      top: calc(((100% - 20px) / 7) * 3 + 10px);
  }
  30%{
      left: calc(((100% - 20px) / 9) * 3 + 10px);
      top: calc(((100% - 20px) / 7) * 3 + 10px);
      
  }
  40%{
      left: 10px;
      top: calc(((100% - 20px) / 7) * 3 + 10px);
  }
  50%{
      left: 10px;
      top: calc(((100% - 20px) / 7) * 6 + 10px);
  }
  60%{
      left: calc(((100% - 20px) / 9) * 3 + 10px);
      top: calc(((100% - 20px) / 7) * 6 + 10px);
  }
  70%{
      left: 10px;
      top: calc(((100% - 20px) / 7) * 6 + 10px);
  }
  90%{
      left: 10px;
      top: 10px;
  }
  100%{
      left: calc(((100% - 20px) / 9) * 3 + 10px);
      top: 10px;
  }
}

@keyframes move-l {
    0% {
        opacity: 0;
        top: calc((((100% - 20px) / 7) * 6) + 10px);
        left: calc(((100% - 20px) / 9) * 8 + 10px);
    }
    20% {
        opacity: 1;
        top: calc(((100% - 20px) / 7) * 6 + 10px);
        left: calc(((100% - 20px) / 9) * 8 + 10px);
    }
    50% {
        opacity: 1;
        top: calc(((100% - 20px) / 7) * 6 + 10px);
        left: calc(((100% - 20px) / 9) * 5 + 10px);
    }
    80% {
        opacity: 1;
        top: 10px;
        left: calc(((100% - 20px) / 9) * 5 + 10px);
    }
    100% {
      opacity: 0;
      top: 10px;
      left: calc(((100% - 20px) / 9) * 5 + 10px);
    }
}