:root {
  --bottom-border-color: #FF3D00;
  --quotation-mark-color: #B3B3B3;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.page {
  background-color: #eee;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: grid;
  grid-template: repeat(13, 1fr) / repeat(4, 1fr);
  gap: 10px 10px;
}

.page div {
  background-color: white;
  padding: 20px;
  color: black;
  position: relative;
}