:root {
  --bottom-border-color: #FF3D00;
  --quotation-mark-color: #B3B3B3;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.page {
  background-color: #eee;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: grid;
  grid-template: repeat(13, 1fr) / repeat(4, 1fr);
  gap: 10px 10px;
}

.page div {
  background-color: white;
  padding: 20px;
  color: black;
  position: relative;
}

.one{
  grid-area: 1 / 1 / span 3 / span 2;
}

.two {
  grid-area: 1 / 3 / span 3 / 4;
}

.three {
  grid-area: 1 / 4 / span 11 / 5;
}

.four {
  grid-area: 4 / 1 / span 8 / 2;
}

.five {
  grid-area: 4 / 2 / span 4 / span 2;
}