* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  align-content: center;
}

div {
  width: 200px;
  height: 200px;
  background-color: #607d8b;
  position: relative;
  border-bottom: 5px solid black;
  display: flex;
  align-items: flex-end;
}

div::before {
  content: "Elzero";
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}

div::after {
  content: "";
  position: absolute;
  background-color: black;
  transform: rotate(45deg);
  width: 70.7%;
  height: 70.7%;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  top: -36%;
  left: 13%;
}
