.parent li {
  background-color: #eee;
  padding: 10px;
  margin: 10px;
}

.html,.css,.js {
  list-style: none;
}

.html ol {
  list-style-type: decimal;
}

.css ol {
  list-style-type: upper-roman;
}

.sub-html li,.sub-css li,.sub-js li {
  background-color: white;
}