.table {
  font-family: Arial, Helvetica, sans-serif;
  width: 700px;
  margin: 20px auto;
  border-spacing: 0px;
  border-collapse: collapse;
  border-bottom: 2px solid #009688;
}

.table th {
  text-align: center;
  font-weight: 700;
  border: 1px solid white;
  padding: 10px;
  color: white;
  background-color: #404040;
  border-left: none;
}

.table td {
  text-align: center;
  padding: 15px;
  border: 1px solid white;
  background-color: #eee;
  border-left: none;
}

.view {
  background-color: #03a9f4;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-style: none;
    margin: 10px;
}

.delete {
  background-color: #e91e63;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-style: none;
}

.table caption{
  font-weight: bold;
  margin: 10px;
}