.parent {
  width: 800px;
  background-color: #eee;
}

.parent div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #ddd;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.row1 {
  width: 33.3%;
}

.row2 {
  width: 50%;
}

.row3 {
  width: 25%;
}

.clear {
  clear: both;
}