body {
  margin: 0px;
}

.parent {
  width: 800px;
  background-color: #eee;
  margin: 20px auto;
}

.parent div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #ddd;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 15px 0px 15px 15px;
}

.full-width {
  width: calc((100% - 30px));
}

.row1 {
  /* width: 33.3%; */
  width: calc((100% - 60px) / 3);
  /* gap: 15px; */
}

.row2 {
  width: calc((100% - 45px) / 2);
}

.row3 {
  width: calc((100% - 75px) / 4);
}

.clear {
  clear: both;
}