:root {
  --background_color: #009688;
}

* {
  box-sizing: border-box;
}

h1 {
  width: 150px;
  margin: 20px auto;
  background-color: var(--background_color, #009688);
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

h1::before, h1::after {
  content: "";
  background-color: var(--background_color, #009688);
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
}

h1::before{
  transform: skew(20deg);
  left: -50px;
  width: 15%;
}
h1::after{
  width: 100%;
  transform: skew(20deg);
  left: -15px;
}