* {
  box-sizing: border-box;
  margin: 0;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.child {
  background-color: #eee;
  text-align: center;
  width: calc(100% - 50px);
  margin-top: 25px;
  padding: 20px;
  font-size: smaller;
}

.two, .three {
  width: calc((100% - 75px) / 2);
}

h3 {
  color: #009688;
}

/* Small Screens */

@media (min-width: 300px) and (max-width:599px) {
  h3 {
    color: black;
  }
  .child {
    width: calc(100% - 10px);
  }
}

/* Medium Screens */

@media (min-width: 600px) and (max-width:799px) {
  h3 {
    color: red;
  }
  .child {
    width: calc((100% - 100px) / 3);
  }
  .one {
    width: calc(100% - 50px);
  }
}

/* Large Screens */

@media (min-width: 800px) {
}

/* Custom */

@media (max-width: 1199px) {
}